
div.text-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem auto;
}

div.text-text > div {
    width: 45%;
}

div.text-text > div:nth-child(1) > p > a {
    color: black;
    font-weight: bold;
}

div.text-text > div:nth-child(1) > p {
    margin-bottom: 2rem;
}

form#form-contact {
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
form#form-contact > input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
}
form#form-contact > input:focus {
    background-color: rgb(207, 144, 212);
    color: white;
}
form#form-contact > input::placeholder {
    color: white;
}
form#form-contact > input[type="submit"] {
    color:white; 
    background-color: var(--primaryColor);
}
form#form-contact > textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
}
form#form-contact > textarea:focus {
    background-color: rgb(207, 144, 212);
    color: white;
}
form#form-contact > textarea::placeholder {
    color: white;
}
form#form-contact > h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: var(--primaryColor);
}
form#form-contact p#form-message {
    font-weight: bold;
    color: red;
    font-size: 1.1rem;
}

@media screen and (width < 800px) {
    div.text-text > div {
        width: 100%;
    }
}