h1 {
    text-align: left;
}

div#main-header {
    width: 100%;
    /* border: 4px solid rgb(211, 7, 133); */
    background-image: url('../images/home-a.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1920/800;
}

div#main-text {
    margin-top: 7rem;
    margin-left: 10%;
}

div#main-text p {
    font-size: 1.2rem;
}

div.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

div.products > figure {
    width: 24%;
}

div.products > figure > img {
    width: 100%;
}

div.products > figure > figcaption {
    text-align: center;
    line-height: 150%;
}

div.new-patterns > h2 {
    text-align: center;
}
div.new-patterns > a.button {
    margin: auto;
}

div.natural-materials {
    margin: 2rem 0;
    width: 100%;
    aspect-ratio: 3/1;
    background-image: url("../images/home-c.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.natural-materials > div.wrapper {
    padding-left: 10%;
    padding-top: 4%;
}

div.natural-materials > div.wrapper > p {
    font-size: 1.1rem;
    max-width: 530px;
    width: 100%;
}

@media screen and (width < 800px) {
    div.products > figure {
        width: 48%;
    }

    div#main-text {
        margin-top: 4rem;
    }
    
}

@media screen and (width < 600px) {
    div.products > figure {
        width: 100%;
    }

    div#main-text {
        margin-top: 2rem;
    }  
}