* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

body {
    --primaryColor: #C9262D;
    --wrapperWidth: 1400px;
    --textColor: rgb(54, 54, 54);
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 100%;
    max-width: var(--wrapperWidth);
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    /* margin-top: 2rem; */
    padding-top: 1rem;
}

/* logo */
header > nav:nth-child(1) > a > img {
    width: 350px;
}

/* main-menu */
header > nav:nth-child(2) {
    display: block;
}
header > nav:nth-child(2) > a {
    display: inline-block;
    color: var(--textColor);
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
}

header > nav:nth-child(2) > a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primaryColor);
    text-underline-offset: 0.25rem;
}

/* burger menu */
header > nav:nth-child(3) {
    font-size: 2.5rem;
    font-weight: bold;
    display: none;
}

a.button {
    display: block;
    width: fit-content;
    color: var(--textColor);
    border: solid thin lightgray;
    padding: 1rem 3rem;
    box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.5);
    transition: all 0.5s;
}
a.button:hover {
    box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.8);
}

a.active {
    text-decoration: underline;
    text-decoration-color: var(--primaryColor);
    text-underline-offset: 0.25rem;
}

h1 {
    font-size: 4.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    line-height: 110%;
    text-align: center;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

p {
    line-height: 1.6rem;
}

div.image-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem auto;
}
div.image-text > div {
    width: 45%;
}
div.image-text > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.image-text > div:nth-child(2) > p {
    line-height: 150%;
    margin-bottom: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: solid thin lightgray;
    border-bottom: solid thin lightgray;
    padding: 3rem 0;
}

footer > div {
    width: 24%;
}

footer > div > h4 {
    color: gray;
    margin-bottom: 1rem;
}

footer > div > a {
    color: gray;
    text-decoration: underline;
    display: block;
}


@media screen and (width < 800px) {
    /* main menu */
    header > nav:nth-child(2) {
        display: none;
    }

    /* burger menu */
    header > nav:nth-child(3) {
        display: block;
    }

    div.image-text > div {
        width: 100%;
    }

    footer > div {
        width: 48%;
        margin-top: 1.5rem;
    }

    h1 {
        font-size: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (width < 600px) {
    h1 {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }  

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    footer > div {
        width: 100%;
    }
}