
section.two-images {
    display: flex;
    justify-content: space-between;
}

section.two-images img:nth-child(1) {
    width: 32%;
}
section.two-images img:nth-child(2) {
    width: 64%;
}     

@media (width < 800px) {

    section.two-images {
        display: block;
    }

    section.two-images img:nth-child(1) {
        width: 100%;
    }
    section.two-images img:nth-child(2) {
        width: 100%;
    } 

}