
section.two-cols {
    display: flex;
    justify-content: space-between;
}

section.two-cols div {
    width: 48%;
}
section.two-cols form {
    width: 48%;
}        

form#contact-form input {
    border: solid thin lightgray;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    color: var(--primaryColor);
}
form#contact-form input:focus {
    border-color: var(--primaryColor);
}

form#contact-form textarea:focus {
    border-color: var(--primaryColor);
}

form#contact-form textarea {
    border: solid thin lightgray;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    color: var(--primaryColor);
}

form#contact-form input[type="submit"] {
    background-color:  var(--primaryColor);
    color: white;
    cursor: pointer;
    border: none;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin-left: auto;
}
form#contact-form input[type="submit"]:hover {
    background-color: rgb(43, 8, 8);
}

iframe {
    width: 100%;
    height: 400px;
}

a img.social {
    width: 25px;
}

@media (width < 800px) {
    section.two-cols {
        display: block;
    }

    section.two-cols div {
        width: 100%;
    }
    section.two-cols form {
        width: 100%;
    }  
}