* {
    padding: 0px;
    margin: 0px;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

.advent-pro-normal {
  font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
    /* font-family: "Advent Pro", sans-serif; */
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: rgb(53, 53, 53);
    --primaryColor: rgb(95, 0, 90);
    --maxWidth: 1250px;
}

h1 {
    font-size: 2.5rem;
    line-height: 130%;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.7rem;
}

p {
    margin-bottom: 1rem;
    line-height: 160%;
}

a.button {
    color: white;
    background-color: var(--primaryColor);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.5s;
}

a.button:hover {
    background-color: rgb(102, 102, 102);
}

.wrapper {
    width: 100%;
    max-width: var(--maxWidth);
    margin: auto;
}

.active {
    text-decoration: underline;
    text-underline-offset: 4px;
}

header {
    height: 120px;
    width: 100%;
    /* background-color: var(--primaryColor); */
    margin-bottom: 3rem;
    border-bottom: solid 2px var(--primaryColor);
}
header div.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div.wrapper nav#logo-nav a {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    transition: all 0.5s;
    color: var(--primaryColor);
}
header div.wrapper nav#logo-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
header div.wrapper nav#top-nav a {
    display: inline-block;
    color: white;
    font-weight: normal;
    padding: 5px 10px;
    font-size: 18px;
    transition: all 0.5s;
    color: var(--primaryColor);
}
header div.wrapper nav#top-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}
header div.wrapper nav#icon-nav {
    display: none;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-right: 0.2rem;
}

main {
    width: 100%;
}

section {
    width: 100%;
    margin-bottom: 2rem; /* 1rem = 18px; */
}

section.top-section p {
    column-count: 2;
    column-gap: 1.5rem;
    column-rule: dashed thin gray;
    column-fill: balance;
}


footer {
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 2rem 0;
    margin-top: 3rem;
}

footer div.wrapper {
    width: 100%;
    max-width: var(--maxWidth);
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer div.wrapper div {
    width: 31%;
}

footer div.wrapper div nav {
    column-count: 2;
    column-gap: 1rem;
    column-fill: balance;
}
footer div.wrapper div nav a {
    display: block;
    color: black;
    margin-bottom: 0.5rem;
    color: rgb(53, 53, 53);
}
footer div.wrapper div nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}


footer form#newsletter {

}
footer form#newsletter h3 {
    text-align: center;
    margin-bottom: 2rem;
}
footer form#newsletter input {
    display: block;
    border: solid thin lightgray;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(250, 250, 250);
    color: var(--primaryColor);
}
footer form#newsletter input:focus {
    border: solid thin var(--primaryColor);
}
footer form#newsletter input[type="submit"] {
    background-color:  var(--primaryColor);;
    color: white;
    cursor: pointer;
    border: none;

    width: fit-content;
    padding: 0.5rem 1rem;
    margin-left: auto;
}
footer form#newsletter input[type="submit"]:hover {
    background-color: rgb(43, 8, 8);
}

@media (width <= 1250px) {
    footer {
        padding-left: 2%;
        padding-right: 2%;
    }

    section {
        padding-left: 2%;
        padding-right: 2%;
    }
}
 

@media (width < 900px) {
    header div.wrapper nav#top-nav {
        display: none;
    }
    header div.wrapper nav#icon-nav {
        display: block;
    }

    footer div.wrapper {
        display: block;
    }
    footer div.wrapper div {
        width: 100%;
        margin-bottom: 3rem;
    }
    footer div.wrapper div nav {
        columns: unset;
    }
    footer div.wrapper div nav a {
        display: block;
    }
    footer div.wrapper div nav a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}

@media (width < 800px) {
    section.top-section p {
        columns: unset;
    }
}