.two-cols-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
}

.two-cols-bottom div {
    width: 49%;
}

.two-cols-bottom div:nth-child(2) p {
    margin-bottom: 30px;
} 

.two-cols-bottom div:nth-child(2) a {
    display:inline-block;
    border: solid thin lightgray;
    padding: 10px 30px;
    width:fit-content;
    color: black;
    transition: all 0.5s;
}
.two-cols-bottom div:nth-child(2) a:hover {
    color: var(--primaryColor);
}
.two-cols-bottom div:nth-child(1) img {
    width: 100%;
}

@media (width < 680px) {
    .two-cols-bottom {
        flex-direction: column-reverse;
    }
    .two-cols-bottom div {
        width: 100%;
        margin-bottom: 2rem;
    }
    .two-cols-bottom div:nth-child(2) {
        padding: 0 0.5rem;
    }    
}