.two-cols-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.two-cols-top div {
    width: 49%;
}

.two-cols-top div h5 {
    margin-bottom: 0.5rem;

}

.two-cols-top div:nth-child(1) p {
    margin-bottom: 2rem;
} 

.two-cols-top div:nth-child(1) p a {
    margin-bottom: 0.5rem;
    display: block;
    text-decoration: underline;
    color: #333;
}
.two-cols-top div:nth-child(1) p a:hover {
    color: gray;
}

.two-cols-top div:nth-child(1) aside a {
    display: inline-block;
    margin-right: 0.5rem;
}

/* form start */
form#contact {
    width: 100%;
}
form#contact h2 {
    text-align: center;
}
form#contact p {
    margin-bottom: 1.5rem;
}
form#contact > legend {
    margin-bottom: 0.5rem;
}
form#contact input {
    font-family: 'Trebuchet MS', sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: solid thin lightgray;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
}
form#contact input:focus {
    border-color: var(--primaryColor);
    color: var(--primaryColor);
}
form#contact input::placeholder {
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--primaryColor);
    font-size: 1rem;
    opacity: 0.5;
}
form#contact textarea {
    font-family: 'Trebuchet MS', sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: solid thin lightgray;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
}
form#contact textarea:focus {
    border-color: var(--primaryColor);
    color: var(--primaryColor);
}
form#contact textarea::placeholder {
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--primaryColor);
    font-size: 1rem;
    opacity: 0.5;
}
form#contact input[type="submit"] {
    color: white;
    background-color: var(--primaryColor);
    border: none;
}
/* form end */

iframe {
    width: 100%;
    height: 400px;
}

@media (width < 680px) {
    .two-cols-top {
        flex-direction: column;
    }
    .two-cols-top div {
        width: 100%;
        margin-bottom: 2rem;
    }
    .two-cols-top div:nth-child(1) {
        padding: 0 0.5rem;
    }
}