.two-cols-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
}

.two-cols-top div {
    width: 49%;
}

.two-cols-top div:nth-child(1) p {
    margin-bottom: 30px;
} 

.two-cols-top div:nth-child(2) img {
    width: 100%;
}

.two-cols-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
}

.two-cols-bottom div {
    width: 49%;
}

.two-cols-bottom div:nth-child(2) p {
    margin-bottom: 30px;
} 

.two-cols-bottom div:nth-child(1) img {
    width: 100%;
}

.three-cols {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.three-cols div:nth-child(1) {
    width: 25%;
    text-align: center;
}
.three-cols div:nth-child(2) {
    width: 44%;
}
.three-cols div:nth-child(3) {
    width: 25%;
    text-align: center;
}
.three-cols div:nth-child(2) img {
    width: 100%;
}
.three-cols div h3 {
    margin-bottom: 16px;
}
.three-cols div p {
    margin-bottom: 24px;
}

.four-cols {
    margin-bottom: 48px;
}

.four-cols h1 {
    font-size: 48px;
    margin-bottom: 30px;
    line-height: 120%;
    text-align: center;
}

.four-cols div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.four-cols div figure {
    width: 23.5%;
}

.four-cols p {
    text-align: center;
    margin-top: 30px;
}

@media (width < 850px) {
    .three-cols div:nth-child(1) {
        width: 100%;
        margin: 0 0.5rem;
    }
    .three-cols div:nth-child(2) {
        width: 100%;
    }
    .three-cols div:nth-child(3) {
        width: 100%;
        margin: 0 0.5rem;
    }
}

@media (width < 800px) {
    .four-cols div figure {
        width: 49%;
        margin-bottom: 1.5rem;
    }
}

@media (width < 680px) {
    .two-cols-top {
        flex-direction: column;
    }
    .two-cols-top div {
        width: 100%;
        margin-bottom: 2rem;
    }
    .two-cols-top div:nth-child(1) {
        padding: 0 0.5rem;
    }

    .two-cols-bottom {
        flex-direction: column-reverse;
    }
    .two-cols-bottom div {
        width: 100%;
        margin-bottom: 2rem;
    }
    .two-cols-bottom div:nth-child(2) {
        padding: 0 0.5rem;
    }    
}

@media (width < 560px) {
    .four-cols div figure {
        width: 100%;
    }
}