/* @font-face { 
	font-family: Caudex; 
	src: url('./../fonts/Caudex/Caudex-Regular.ttf'); 
} */

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    /* font-family: Caudex, serif; */
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: rgb(48, 48, 48);
    font-weight: normal;
    --primaryColor: rgb(0, 122, 86);
    --maxWidth: 1250px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 120%;
    font-weight: normal;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 120%;
    font-weight: normal;
}
h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    line-height: 120%;
    font-weight: normal;
}
h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 120%;
}

p {
    line-height: 160%;
}

figure.product {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 3px rgb(241, 241, 241);
    cursor: pointer;
    transition: all 0.5s;
}
figure.product > img {
    width: 100%;
}
figure.product > figcaption {
    text-align: center;
}
figure.product:hover {
    box-shadow: 3px 3px 3px lightgray;
}

.wrapper {
    width: 100%;
    max-width: var(--maxWidth);
    margin: auto;
}

.active {
    color: var(--primaryColor);
    text-decoration: underline;
    text-underline-offset: 6px;
}

.block {
    display: block;
}

a.button {
    display:inline-block;
    border: solid thin lightgray;
    padding: 10px 30px;
    width:fit-content;
    color: black;
    transition: all 0.5s;
}
a.button:hover {
color: var(--primaryColor);
}

header {
    width: 100%;
    height: 120px;
    margin-bottom: 2.5rem;
    border-bottom: solid thin var(--primaryColor);
}
header > div.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > div.wrapper > a {
    height: 80%;
}
header > div.wrapper > a > img {
    height: 100%;
}
header > div.wrapper > nav#top-menu > a {
    color: var(--primaryColor);
    display: inline-block;
    padding: 5px 10px;
    font-size: 1rem;
    transition: all 0.5s;
}
header > div.wrapper > nav#top-menu > a:hover {
    color: var(--primaryColor);
    text-decoration: underline;
    text-underline-offset: 6px;
}
header > div.wrapper > nav#icon-menu {
    display: none;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-right: 0.2rem;
    cursor: pointer;
}

main {
    width: 100%;

}

footer {
    width: 100%;
    margin-top: 3rem;
    background-color: rgb(245, 245, 245);
}
footer > div.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}
footer > div.wrapper > div {
    width: 18%;
}
footer > div.wrapper > div:nth-child(1) {
    width: 40%;
}
footer > div.wrapper > div > a {
    margin-bottom: 0.5rem;
    display: block;
    text-decoration: underline;
    color: #333;
}
footer > div.wrapper > div a:hover {
    color: gray;
}

@media (width < 1280px) {
    footer {
        padding-right: 1%;
        padding-left: 1%;
    }
}

/* @media (width < 800px) {
    header > div.wrapper > nav#top-menu {
        display: none;
    }
    header > div.wrapper > nav#icon-menu {
        display: block;
    }
}

 */
@media (width < 800px) {
	header > div.wrapper > nav#top-menu {
		display: none;
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 2px 2px 2px lightGray;
		border: solid thin gray;
		position: absolute;
		width: 100%;
		max-width: 380px;
		right: 8px;
		top: 6rem;
		padding: 0.5rem;
	}

	header > div.wrapper > nav#top-menu.block {
		display: block;
	}

	header > div.wrapper > nav#top-menu a {
		width: 100%;
        margin-bottom: .5rem;
	}

	header > div.wrapper > nav#icon-menu {
		display: block;
	}
}

@media (width < 780px) {
    footer > div.wrapper {
        flex-direction: column;
    }

    footer > div.wrapper > div {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    footer > div.wrapper > div:nth-child(1) {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}