main#about > section.two-cols {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

main#about > section.two-cols > div {
    width: 48%;
    overflow: hidden;
}

main#about > section.two-cols > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10%;
    transform: scale(1.2);
}

main#about > section.two-cols > div:nth-child(2) > h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3.5rem;
}

main#about > section.two-cols > div:nth-child(2) > p {
    columns: 2;
    column-gap: 2rem;
    column-fill: balance;
}

@media screen and (max-width: 1000px) {
    main#about > section.two-cols > div > img {
        height: auto;
        object-fit: unset;
        object-position: unset;
        transform: scale(1);
    }
    main#about > section.two-cols > div:nth-child(2) > p {
        columns: unset;
    }
}

@media screen and (max-width: 900px) {
    main#about > section.two-cols {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    main#about > section.two-cols {
        flex-direction: column;
    }

    main#about > section.two-cols > div {
        width: 100%;
        margin-top: 2rem;
    }
}