section.about-full-width-image {
    width: 100%;
    aspect-ratio: 1857/300;
}

section.about-full-width-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
}

section.two-cols {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    justify-content: space-between;
}

section.two-cols div {
    width: 48%;
}

section.two-cols div img {
    width: 100%;
    aspect-ratio: 5/7.5;
}

section.two-cols div h3 {
    margin: 1rem 0;
    font-weight: 400;
    font-size: 30px;
    color: var(--primaryColor);
}
section.two-cols div h4 {
    margin: 1rem 0;
    font-weight: 400;
    font-size: 25px;
    color: var(--primaryColor);
}
section.two-cols div p {
    margin: 1rem 0;
    line-height: 1.3rem;
}

@media screen and (max-width: 600px) {
    section.two-cols div {
        width: 100%;
    }

    section.two-cols:nth-child(2){
        flex-direction: column-reverse;
    }
}
