form#contact {
    width: 100%;
    border: solid thin var(--primaryColor);
    padding: 1.5rem;
    
}

form#contact input {
    display: block;
    width: 100%;
    border: solid thin lightgray;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2;
    font-family: 'Trebuchet MS', sans-serif;
}
form#contact input[type="submit"] {
    display: block;
    width:fit-content;
    color: var(--textColor);
    padding: 0.9rem 4rem;
    border: solid thin var(--primaryColor);
    transition: all 0.5s;
    cursor: pointer;
    font-weight: bold;
}
form#contact input[type="submit"]:hover {
    border-color: var(--textColor);
}

form#contact textarea {
    display: block;
    width: 100%;
    border: solid thin lightgray;
    padding: 0.2rem;
    margin-bottom: 1rem;
    font-size: 1.2;
    font-family: 'Trebuchet MS', sans-serif;
}

iframe {
    display: block;
    width: 100%;
    aspect-ratio: 3/1;
}