
#contact > section:nth-child(2) {
    display: flex;
    gap: 5%;
}

#contact > section:nth-child(2) > div:nth-child(1) {
    width: 65%;
}

#contact>section:nth-child(2)>div:nth-child(1) > form {
    width: 100%;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: var(--secondaryColor);
    font-size: 1rem;
}

#contact>section:nth-child(2)>div:nth-child(1)>form input {
    color: var(--primaryColor);
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: solid thin white;
    font-size: 1rem;
}

#contact>section:nth-child(2)>div:nth-child(1)>form input:focus {
    border: solid thin gray;
}

#contact>section:nth-child(2)>div:nth-child(1)>form textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: solid thin white;
    height: 6rem;
    font-size: 1rem;
    color: var(--primaryColor);
}

#contact>section:nth-child(2)>div:nth-child(1)>form textarea:focus {
    border: solid thin gray;
}

#contact>section:nth-child(2)>div:nth-child(1)>form label {
    display: block;
    margin: 1.2rem 0 0.5rem;
}

#contact>section:nth-child(2)>div:nth-child(1)>form input[type='submit'] {
    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: lightgray;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    margin-left: auto;
    transition: all 0.5s;
}
#contact>section:nth-child(2)>div:nth-child(1)>form input[type='submit']:hover {
    background-color: var(--secondaryColor);
}

#contact > section:nth-child(2) > div:nth-child(2) {
    width: 35%;
}
#contact>section:nth-child(2)>div:nth-child(2) h3 {
    margin: 2rem 0 1rem;
}
#contact>section:nth-child(2)>div:nth-child(2) aside img {
    margin-right: 5%;
}

#contact>section:nth-child(3) {
    margin: 2rem 0;
}

#contact > section:nth-child(3) > iframe  {
    width: 100%;
    height: 300px;
}

@media (max-width: 1100px) {
    #contact>section:nth-child(2) h2,
    #contact>section:nth-child(2) p {
        padding-right: 2%;
        padding-left: 2%;
    }

    #contact>section:nth-child(2)>div:nth-child(2) {
        padding-right: 2%;
        padding-left: 2%;
    }
}

@media (max-width: 700px) {
    #contact>section:nth-child(2) {
        flex-direction: column-reverse;
        width: 100%;
    }
    #contact>section:nth-child(2)>div:nth-child(1) {
        width: 100%;
        margin-bottom: 3rem;
    }
    #contact>section:nth-child(2)>div:nth-child(2) {
        width: 100%;
        margin-bottom: 3rem;
    }
}