main#gallery section.two-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
}

main#gallery section.two-images > img {
    width: 49%;
}

@media (max-width: 1100px) {
    main#gallery section.top-section {
        padding-left: 2%;
        padding-right: 2%;
    }
}


@media (max-width: 600px) {
    main#gallery section.top-section {
        flex-wrap: wrap;
    }

    main#gallery section.two-images {
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    main#gallery section.two-images > img {
        width: 100%;
        margin-bottom: 2rem;
    }    
}