
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    --mainColor: rgb(226, 90, 57);

    --whiteColor: white;
    --blackColor: black;
    --textColor: rgb(150, 150, 150);
    --maxSiteWidth: 900px;

    --headerHeight: 100px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /* background-image: url(../images/hotel1.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--mainColor);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    color: var(--textColor);
}

.nodisplay {
    display: none;
}

.col321 {
    columns: 3;
    column-gap: 2rem;
    column-rule: gray 1px dashed;
    column-fill: balance;
}

.col21 {
    columns: 2;
    column-gap: 2rem;
    column-rule: gray 1px dashed;
    column-fill: balance;
}

header > nav#top-menu > a.activeLink {
    text-decoration: underline;
    /* color: gray; */
}



div#wrapper {
    width: 100%;
    max-width: var(--maxSiteWidth);
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    box-shadow: 0px 3px 6px var(--textColor);
    width: 100%;
    height: var(--headerHeight);
    padding: 0.7rem;
    display: flex;
    flex-direction: row; /* row | column | row-reverse | column-reverse; */
    justify-content: space-between; /* flex-start | flex-end | center | space-around | space-between | space-evenly */
    align-items: center; /* stretch | flex-start | flex-end | center | baseline */

    position: fixed;
    /* background-color: rgba(0, 0, 0, 0.5); */
    max-width: var(--maxSiteWidth);
    background-color: var(--blackColor);
}

header div#logo {
    height: 100%;
}

header div#logo > a > img {
    height: 100%;
}

header nav#top-menu {

}

header nav#top-menu a {
    color: var(--mainColor);
    font-size: 1.2rem;
    padding: 5px 10px;
    border-right: solid thin var(--mainColor);
}
header nav#top-menu a:last-child {
    border: none;
}

header nav#top-menu a:hover {
    text-decoration: underline;
}

header nav#icon-menu {
    font-size: 2rem;
    color: var(--mainColor);
    display: none;
}

header > nav#dropdown-menu {
    position: absolute;
    right: 0px;
    top: var(--headerHeight);
    max-width: 280px;
    width: 100%;
    background-color: var(--mainColor);
}

header nav#dropdown-menu > a {
    color: white;
    display: block;
    padding: 0.6rem;
    margin-bottom: 0.4rem;
    width: 100%;
}

main {
    min-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
    padding: 0.7rem;

    flex-grow: 1;
}

main > h1 {
    margin-top: var(--headerHeight);
}

main#home p {
    color: black;
}


a#scroll-arrow {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: block;
    padding: 5px 10px;
    background-color: brown; 
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

footer {
    color: white;
    padding: 0.7rem;
    /* height: var(--footerHeight); */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row; /* row | column | row-reverse | column-reverse; */
    justify-content: space-between; /* flex-start | flex-end | center | space-around | space-between | space-evenly */

    /* flex-wrap: wrap; */
    gap: 2%;
}

footer section:nth-child(1) {
    width: 35%;
}
footer section:nth-child(2) {
    width: 25%;
}
footer section:nth-child(3) {
    width: 40%;
}

footer > section > h3 {
    margin-bottom: 1rem;
}


footer > section:nth-child(1) > p {

}

footer section:nth-child(2) a {
    color: white;
    display: block;
    padding: 8px;
    /* font-size: 0.8rem; */
    background-color: rgba(226, 90, 57, 0);
    transition: all 1s;
}

footer section:nth-child(2) a:hover {
    background-color: rgba(226, 90, 57, 0.3);
    padding-left: 30px;
}

footer > section:nth-child(3) > form {
    margin-top: 1rem;
}

footer > section:nth-child(3) > form > input {
    display: block;
    width: 100%;
    margin-bottom: 0.8rem;
    padding: 0.4rem;
}

footer > section:nth-child(3) > form > input:last-child {
    width: fit-content;
    cursor: pointer;
    color: white;
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px var(--mainColor);
}
footer > section:nth-child(3) > form > input:last-child:hover {

}





@media screen and (max-width: 700px) {
    footer {
        flex-wrap: wrap;
    }
    header > nav#top-menu {
        display: none;
    }
    header > nav#icon-menu {
        display: block;
    }

    footer section:nth-child(1) {
        width: 63%;
    }
    footer section:nth-child(2) {
        width: 33%;
    }
    footer section:nth-child(3) {
        width: 100%;
    }

    .col321 {
        columns: 2;
    }
}

@media screen and (max-width: 480px) {
    footer section:nth-child(1) {
        width: 100%;
    }
    footer section:nth-child(2) {
        width: 100%;
    }

    .col321 {
        columns: 1;
    }

    .col21 {
        columns: 1;
    }
}
