section.wines {
    width: 100%;
    max-width: 900px;
    margin: auto;
}
section.wines h2 {
    text-align: center;
    color: var(--primaryColor);
    margin-top: 4rem;
    margin-bottom: 3rem;
}

section.wines p {
    margin-left: 1rem;
}

section.wines div.name-price {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

section.wines hr {
    border-top: solid 1px rgb(201, 201, 201);
}

div.big-container {
    width: 100%;
    background-color: rgb(249, 247, 250);
    padding: 1rem 0;
    margin-top: 2rem;
}